//NAVIGATION
nav.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

.cellLinks {
	text-align: center !important;

	a {
		text-align: center !important;
		color: #fff !important;
	}

	a:before {
		font-family: FontAwesome;
		content: "\f095" ;
		font-size: 1em;
		color: #fff;
		padding-right: 5px;
	}

	a:hover {
		color: #ccc;
		text-decoration: none;
	}
}


ul.nav-justified {
	li {
		 a  {
			font-family: $primaryFontFamily !important;
			text-transform: uppercase !important;
			color: #fff !important;
			height: 50px;
			font-size: 1.5em;
			padding: 10px;

			&:hover {
				background-color: $primaryRed;
			}

		 }
	}
}