.widget {
	margin: 0 0 2em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	#wp-calendar {
		width: 100%;
	}

	.card-header {
		font-size: 1.25rem;
	}

	.tagcloud,
	.textwidget,
	.calendar_wrap {
		padding: $card-spacer-x;
	}

	ul{
		padding-top: $card-spacer-y;
		padding-bottom: $card-spacer-y;
		margin-bottom: 0;
	}

	&.widget_search {
	  border: none;
	}

	.tagcloud a {
		margin-bottom: .5rem;
	}
}


/**
*  Patellini's specific footer widgets
*/

div#primary-sidebar {
	margin: 0;
	padding: 0;
}

div.footer-widgets {
	background-color: $black;
	color: $white;
	text-align: center;

	p {
		text-align: center;
	}
	
	& > div {
		padding-top: 1em;
	}

	a#emailUs {
		color: #fff;
	
		&:focus, &:active {
			box-shadow: none !important;
		}
	
	}
	
	a#emailUs:before {
		font-family: FontAwesome;
		content: "\f003" ;
		font-size: 1em;
		color: #fff;
		padding-right: 5px;
	}
}




