

div.bottomFeature {
   
    & > div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div.innerBottomFeatureTxt {
        h2 {
            text-align: center;
        }
    }

}



